body::after{
   position:absolute; width:0; height:0; overflow:hidden; z-index:-1; // hide images
   content:url("../img/type0.svg") url("../img/type1.svg") url("../img/type2.svg") url("../img/type3.svg") url("../img/type4.svg") url("../img/type5.svg") url("../img/type6.svg") url("../img/type7.svg") url("../img/type8.svg") url("../img/mine.svg") url("../img/mine_red.svg") url("../img/mine_wrong.svg") url("../img/flag.svg");   // load images
}

.cell{
  float: left;
  background-size: 100%;
  font-weight: 700;
  text-align: center;
  width: 24px;
  height: 24px;
  font-size: 10px;
  line-height: 23px;
}

.closed {
  background-image: url("../img/closed.svg");
}

.check{
  background-image: url("../img/pressed.svg");
}

.type0 {
  background-image: url("../img/type0.svg");
}

.type1 {
  background-image: url("../img/type1.svg");
}

.type2 {
  background-image: url("../img/type2.svg");
}

.type3 {
  background-image: url("../img/type3.svg");
}

.type4 {
  background-image: url("../img/type4.svg");
}

.type5 {
  background-image: url("../img/type5.svg");
}

.type6 {
  background-image: url("../img/type6.svg");
}

.type7 {
  background-image: url("../img/type7.svg");
}

.type8 {
  background-image: url("../img/type8.svg");
}

.type10 {
  background-image: url("../img/mine.svg");
}

.type11 {
  background-image: url("../img/mine_red.svg");
}

.type12 {
  background-image: url("../img/mine_wrong.svg");
}

.flag{
  background-image: url("../img/flag.svg");
}

.flag.hint-wrong-flag {
  background-image: url("../img/flag_red.svg");
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper {
  border-collapse: separate;
}

.wrapper-border{
  background-size: 100% 100%;
  float: left;
}

.wrapper-border-vert {
  @extend .wrapper-border;
  background-image: url("../img/border_vert_2x.png");
}

.wrapper-border-hor {
  @extend .wrapper-border;
  background-image: url("../img/border_hor_2x.png");
}


.wrapper-border-t-left {
  @extend .wrapper-border;
  background-image: url("../img/t_left_2x.png");
}

.wrapper-border-t-right {
  @extend .wrapper-border;
  background-image: url("../img/t_right_2x.png");
}

.wrapper-border-left-top {
  @extend .wrapper-border;
  background-image: url("../img/corner_up_left_2x.png");
}

.wrapper-border-right-top {
  @extend .wrapper-border;
  background-image: url("../img/corner_up_right_2x.png");
}

.wrapper-border-left-bottom {
  @extend .wrapper-border;
  background-image: url("../img/corner_bottom_left_2x.png");
}

.wrapper-border-right-bottom {
  @extend .wrapper-border;
  background-image: url("../img/corner_bottom_right_2x.png");
}
 //tope Area
.top-area {
  float: left;
  background: #b3b3b3;
}

.top-area-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.numbers-panel {
  background-size: 100%;
}

.top-area-num {
  background-size: 100% 100%;
}

.top-area-num0 {
  background-image: url("../img/d0.svg");
}

.top-area-num1 {
  background-image: url("../img/d1.svg");
}

.top-area-num2 {
  background-image: url("../img/d2.svg");
}

.top-area-num3 {
  background-image: url("../img/d3.svg");
}

.top-area-num4 {
  background-image: url("../img/d4.svg");
}

.top-area-num5 {
  background-image: url("../img/d5.svg");
}

.top-area-num6 {
  background-image: url("../img/d6.svg");
}

.top-area-num7 {
  background-image: url("../img/d7.svg");
}

.top-area-num8 {
  background-image: url("../img/d8.svg");
}

.top-area-num9 {
  background-image: url("../img/d9.svg");
}

.top-area-num- {
  background-image: url("../img/d-.svg");
}

.top-area-face {
  margin: 0 auto;
  background-size: 100%;
}

.top-area-face-unpressed {
  background-image: url("../img/face_unpressed.svg");
}

.top-area-face-win {
  background-image: url("../img/face_win.svg");
}

.top-area-face-lose {
  background-image: url("../img/face_lose.svg");
}

.top-area-face-pressed {
  background-image: url("../img/face_pressed.svg");
}

.numbers-panel {
  background-image: url("../img/nums_background.svg");
  background-size: 100%;
}

.pull-right {
  float: right!important;
}

.pull-left {
  float: left;
}

.clear {
  clear: both;
}

/* Popover Body */
.popover{
    height: 45px;
}
.popover-content{
    font-size: 18px;
}

.footer{
  min-width: 786px;
}
