/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
      margin-left: 0 !important;

    }
    .msg_history{
      min-width: 100vw !important;
    }
    #sidebarCollapse{
      visibility: visible !important;

    }
    .wrapper{
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
}

a[data-toggle="collapse"] {
    position: relative;
}

#addChannel:hover, .user_pop:hover, .user_pop:focus, .user_pop:active, #pmMode{
  background: none;
  color:white;
  background-color:transparent !important;
  box-shadow: none;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.wrapper{
    display: flex;
    width: 80%;
    height: 70vh;
    align-items: stretch;
    border-collapse: collapse;
}

#content{
  height:70vh;
}
#navbar-content{
  height: 10%;
  padding: 0 1rem 0 1rem;
}

.bg-24{
  background-color: #242424;
}

.mesgs{
  height:90%;
}
.msg_history {
  height:93%;
  min-width: calc(80vw - 250px);
  overflow-y: auto;
  /* border: 2px solid; */
}
.type_msg{
  height:7%;
}

.write_msg,.msg_send_btn{
  height: -webkit-fill-available;
}
.incoming_msg_img {
  display: inline-block;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
  overflow-wrap: break-word;
}

.pmin_msg .received_withd_msg p {
 background: #ffcccc none repeat scroll 0 0;
 border-radius: 3px;
 color: #242424;
 font-size: 14px;
 margin: 0;
 padding: 5px 10px 5px 12px;
 width: 100%;
}

.outgoing_msg, .pmoutgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.sent_msg p {
 background: #05728f none repeat scroll 0 0;
 border-radius: 3px;
 font-size: 14px;
 margin: 0; color:#fff;
 padding: 5px 10px 5px 12px;
 width:100%;
 overflow-wrap: break-word;
}

.pmoutgoing_msg > .sent_msg p {
 background: #ffcccc none repeat scroll 0 0;
 border-radius: 3px;
 font-size: 14px;
 color:#242424;
 padding: 5px 10px 5px 12px;
 width:100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}

#span1{
  display: block;
  overflow: hidden;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebarCollapse{
  padding: .275rem .75rem;
  visibility: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #242424;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    text-align: center;
    padding: 10px;
    background: #013357;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
    font-size: 15px;
    height:60%;
    overflow:hidden;
    overflow-y:scroll;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

/* #sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #2e47b2;
} */
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #2e47b2;
    overflow-wrap: break-word;
}
