@media (max-width: 425px){
  #contactus {
      margin-top: 1rem;
      margin-left: 0;
  }
}
  .icon {
  padding: 8px;
  background: dodgerblue;
  color: white;
  min-width: 30px;
  text-align: center;
}
  .input-container {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}
.input-field {
width: 100%;
padding: 10px;
outline: none;
}
