main>.container {
  margin-top: 15vh;
}

.navbar-brand {
  padding: 0 !important;
}

.bg-fix {
  background-color: #242424;
}

body {
  font-family: 'Source Sans Pro', sans-serif !important;
  background:aliceblue;
}
