{% extends "layout.html" %}

{% block title %}
Game
{% endblock %}
{% block astyle %}

{% endblock %}
<!-- Other Css -->
{%block css%}
<link rel="stylesheet" href="{{url_for('minesweeper.static',filename="css/game.min.css")}}">
</link>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
</link>
<!-- preload img-->
{%endblock%}
{%block navItem%}
<li class="nav-item" id="nav-channels">
  <a class="nav-link" href="{{url_for('channels')}}" hidden="true" id="btn-chat">Chat</a>
</li>
{%endblock%}
<!-- Main Content -->
{% block content %}
<div class="">
  <h3 id="username">Hello, {{username}}</h3>
</div>
<div class="" id="user_score" data-sc={{usersc}}>
  Your Best Score: {{usersc}}
</div>
<div class="" id="best_score">
  World Best Score: {{bestScore}} by {{bestUser}}
</div>
<div class="container mt-1 mb-5">
  <div class="row justify-content-center">
    <div class="wrapper col-lg-2 mt-auto" id="game_msg">
      <div class="border rounded border-primary bg-24" id="content2">
        <div class="mesgs h-100">
          <div class="msg_history">
          </div>
          <div class="type_msg">
            <div class="input_msg_write h-100">
              <button class="msg_send_btn float-right" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
              <span id="span1"><input type="text" class="write_msg w-100" id="msgHolder2" placeholder="msg" /></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="row justify-content-center">
        <button id="invite" class="btn btn-sm btn-info" type="button" disabled>Sync:off</button>
      </div>
      <div class="row justify-content-center">
        <div id="game" class="game-wrapper noselect my-1 mx-auto" style="width: 786px;">
          <div class="" style="width: 756px; height: 16.5px;">
            <div class="game-wrapper-border-left-top " style="width: 18px; height: 16.5px;"></div>
            <div class="game-wrapper-border-hor " style="width: 720px; height: 16.5px;"></div>
            <div class="game-wrapper-border-right-top " style="width: 18px; height: 16.5px;"></div>
          </div>
          <div class="" style="width: 756px; height: 48px;">
            <div class="game-wrapper-border-vert " style="width: 18px; height: 48px;"></div>
            <div id="top_area" class="top-area " style="width: 720px; height: 48px;">
              <div class="" style="width: 720px; height: 4.5px;"></div>
              <div>
                <div class="pull-left " style="width: 4.5px; height: 31.5px;"></div>
                <div class="pull-right " style="width: 4.5px; height: 31.5px;"></div>
                <div class="numbers-panel pull-left " style="width: 61.5px; height: 37.5px;">
                  <div class="" style="width: 61.5px; height: 3px;"></div>
                  <div class="" style="width: 61.5px; height: 31.5px;">
                    <div class="pull-left " style="width: 3px; height: 31.5px;"></div>
                    <div id="top_area_mines_100" class="top-area-num pull-left " style="width: 16.5px; height: 31.5px;"></div>
                    <div class="pull-left " style="width: 3px; height: 31.5px;"></div>
                    <div id="top_area_mines_10" class="top-area-num pull-left" style="width: 16.5px; height: 31.5px;"></div>
                    <div class="pull-left " style="width: 3px; height: 31.5px;"></div>
                    <div id="top_area_mines_1" class="top-area-num pull-left" style="width: 16.5px; height: 31.5px;"></div>
                  </div>
                </div>
                <div class="numbers-panel pull-right " style="width: 61.5px; height: 37.5px;">
                  <div class="" style="width: 61.5px; height: 3px;"></div>
                  <div class="" style="width: 61.5px; height: 31.5px;">
                    <div class="pull-left " style="width: 3px; height: 31.5px;"></div>
                    <div id="top_area_time_100" class="top-area-num pull-left  top-area-num0" style="width: 16.5px; height: 31.5px;"></div>
                    <div class="pull-left " style="width: 3px; height: 31.5px;"></div>
                    <div id="top_area_time_10" class="top-area-num pull-left  top-area-num0" style="width: 16.5px; height: 31.5px;"></div>
                    <div class="pull-left " style="width: 3px; height: 31.5px;"></div>
                    <div id="top_area_time_1" class="top-area-num pull-left  top-area-num0" style="width: 16.5px; height: 31.5px;"></div>
                  </div>
                </div>
                <div class="top-area-center">
                  <div id="top_area_face" class="top-area-face  top-area-face-unpressed" style="width: 39px; height: 39px;"></div>
                </div>
              </div>
            </div>
            <div class="game-wrapper-border-vert " style="width: 18px; height: 48px;"></div>
          </div>
          <div class="" style="width: 756px; height: 16.5px;">
            <div class="game-wrapper-border-t-left " style="width: 18px; height: 16.5px;"></div>
            <div class="game-wrapper-border-hor " style="width: 720px; height: 16.5px;"></div>
            <div class="game-wrapper-border-t-right " style="width: 18px; height: 16.5px;"></div>
          </div>
          <div class="" style="width: 756px; height: 384px;">
            <div class="game-wrapper-border-vert " style="width: 18px; height: 384px;"></div>
            <!-- Cells -->
            <div id="A4" class="pull-left">
              <!-- <div id="cell_4_1" class="cell closed" data-x="4" data-y="1"></div>
              <div id="cell_5_1" class="cell closed" data-x="5" data-y="1"></div>
              <div id="cell_6_1" class="cell closed" data-x="6" data-y="1"></div> -->
            </div>
            <div class="game-wrapper-border-vert " style="width: 18px; height: 384px;"></div>
          </div>
          <div id="replay_footer" class="" style="width: 756px; height: 16.5px;">
            <div class="game-wrapper-border-left-bottom " style="width: 18px; height: 16.5px;"></div>
            <div class="game-wrapper-border-hor " style="width: 720px; height: 16.5px;"></div>
            <div class="game-wrapper-border-right-bottom " style="width: 18px; height: 16.5px;"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 border offset-lg-1 shadow-sm bg-light my-1 mx-auto">
      <div class="text-info border-bottom w-100 text-center">
        Online Players
      </div>
      <ul class="list-unstyled overflow-auto text-center" id="clientList">
      </ul>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="gameModal" tabindex="-1" role="dialog" aria-labelledby="gameModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Game Invitation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="gameNo">No</button>
        <button type="button" class="btn btn-primary" id="gameYes">Yes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

<!-- Other Scripts -->
{%block scripts %}
<!-- SocketIO -->
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<!-- Myjs -->
<script src="{{url_for('minesweeper.static',filename="scripts/game.js")}}"></script>
<!-- Handle Bar -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

{%endblock%}

<!-- Script template -->
{%block template %}
{% raw -%}
<script id="aCell" type="text/template">
  <div id="{{cell_id}}" class="cell closed" data-x="{{cell_x}}" data-y="{{cell_y}}">
  </div>
</script>
<script id="aClient" type="text/template">
  <li id="{{client_name}}" class="inline-block">
    <button type="button" class="btn user_pop border-0" id="pop_{{client_name}}">{{client_name}}</button>
  </li>
</script>
<script id="in_msg" type="text/template">
  <div class="incoming_msg ml-1">
      <i class="incoming_msg_img fa fa-user icon text-light"></i>
      <button type="button" class="btn user_pop btn-outline-light border-0 pop_{{username}}">{{username}}</button>
      <div class="received_msg">
        <div class="received_withd_msg">
          <p>{{msg}}</p>
          <span class="time_date"> {{time_date}}</span>
        </div>
      </div>
    </div>
  </script>
<script id="out_msg" type="text/template">
  <div class="outgoing_msg">
      <div class="sent_msg">
        <p>{{msg}}</p>
        <span class="time_date">{{time_date}}</span>
        </div>
      </div>
  </script>
{%- endraw %}
{%endblock%}